<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_THUMP_KEY</key>
	<string>AIzaSyBaKkrQnLT4nacpKblIE5d4QK6GpaX5luQ</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MirrorFly Flutter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
                <string>app-1-695832127329-ios-f8b6b0fab296a800</string>
				<string>app-1-235373697524-ios-2d40908026b55394a0c1a1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LICENSE_KEY</key>
	<string>$(LICENSE_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>tel</string>
		<string>mailto</string>
		<string>file</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>We need access to Apple Music to share your music to your friends within MirrorFly.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartVmService._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>MirrorFly need to access to the Camera to Capture and share the image</string>
	<key>NSContactsUsageDescription</key>
	<string>This app relies on read access to your contacts. We require access to this permission to find your contacts in our database and suggest people you know. We will not store any contact info in our database if they are not a part of our platform. For further info read our privacy policy.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>App wants to access your documents folder</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>App wants to access your downloads folder</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>MirrorFly need to access to the Location to share the location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>MirrorFly need to access to the Location to share the location</string>
	<key>NSLocationUsageDescription</key>
	<string>MirrorFly need to access to the Location to share the location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MirrorFly need to access to the Location to share the location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need this permission to send recorded voice messages to your friends and to make calls within MirrorFly</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need this permission to share your photos and videos to your friends from your photo library within MirrorFly</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need this permission to share your photos and videos to your friends from your photo library within MirrorFly</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
    <key>NSAppleMusicUsageDescription</key>
    <string>We need access to Apple Music to share your music to your friends within MirrorFly.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>We need this permission to add event in calendar within Mirrorfly</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>We need this permission to add event in calendar within Mirrorfly</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
